*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./background.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("image2/bg2.png");
  height: 100vh;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.container {
  width: 400px;
  height: auto;
  min-height: 400px;
  padding: 30px;
  background: transparent;
  border: 2px solid #080009a1;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  margin-left: 80px;
}

h1 {
  color: #0c0c0c;
  text-align: center;
  margin-bottom: 36px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.todo-input {
  flex: 1;
  outline: none;
  padding: 10px 10px 10px 20px;
  background-color: transparent;
  border: 2px solid #0a0a0aa1;
  border-radius: 30px;
  color: #0c0c0c;
  font-size: 16px;
  margin-right: 10px;
}

.todo-input::placeholder {
  color: #0c0c0c;
}

.add-button {
  border: none;
  outline: none;
  background: #0e0d0ea1;
  color: #090909;
  font-size: 35px;
  cursor: pointer;
  border-radius: 40px;
  width: 40px;
  height: 40px;
}

.empty-image { background-image: url("images/f2.jpg");
    height: 100vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.todo {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #070707;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px 12px;
  border: 2px solid #0b0b0ba1;
  transition: all 0.2s ease;
}

.todo:first-child {
  margin-top: 0;
}

.todo:last-child {
  margin-bottom: 0;
}

.todo:hover {
  background-color:#f5040caa;
}

.todo label {
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: #f4eff3;
}

.todo span {
  padding-left: 20px;
  position: relative;
  cursor: pointer;
}

span::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  margin-left: -30px;
  border-radius: 100px;
  border: 2px solid #844242a1;
}

input[type='checkbox'] {
  visibility: hidden;
}

input:checked + span {
  text-decoration: line-through
}

.todo:hover input:checked + span::before, input:checked + span::before {
  background: url(./check.svg) 50% 50% no-repeat #bb0909;
  border-color: #bb0909;
}

.todo:hover span::before {
  border-color: #4b4242;
}

.todo .delete-btn  {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #060606;
  font-size: 24px;
}

.todos-container  {
  height: 300px;
  overflow: overlay;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.filter {
  color: #0d0d0d;
  padding: 5px 15px;
  border-radius: 100px;
  border: 2px solid #060606a1;
  transition: all 0.2s ease;
  cursor: pointer;
}

.filter.active, .filter:hover {
  background-color: #2a2a2ba1;
}

.delete-all {
  display: flex;
  color: #0a0a0a;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.delete-all:hover {
  border-radius: 5px;
  background-color: #302d2da1;
}
